* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#main {
  width: 100%;
  height: 100vh;
  background-image: url("../../Img/MainPhoto/original.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#main .forheight {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main nav .nav-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 480px) {
  #main nav .nav-area .logo-area img {
    width: 100%;
  }
}

#main nav .nav-area .nav-right ul {
  height: 100%;
  color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main nav .nav-area .nav-right ul li {
  list-style: none;
  color: #F5F5F5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 14px;
  font-weight: 600;
  margin: 2px;
}

#main nav .nav-area .nav-right ul li:hover {
  cursor: pointer;
  color: #147D70;
}

@media only screen and (max-width: 600px) {
  #main {
    color: #FFFFFF;
  }
  #main .responsivee {
    height: 100vh;
  }
  #main .cards-area {
    height: 100vh;
  }
  #main .writing-side {
    display: none;
  }
}

#main .cards-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main .cards-area .for-margin {
  border-left: 2px solid #F5F5F5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .cards-area .for-margin:hover {
  border: 1px solid #F5F5F5;
  border-top-right-radius: 60px 60px;
  color: #147D70 !important;
  cursor: pointer;
}

#main .cards-area .for-margin .card-area {
  color: #FFFFFF;
  padding: 50px 10px 50px 10px;
  -webkit-transition: 0.2;
  transition: 0.2;
}

#main .cards-area .for-margin .card-area:hover {
  background-color: #FFFFFF;
  color: #147D70 !important;
  border-top-right-radius: 60px 60px;
  cursor: pointer;
}

#main .cards-area .for-margin .card-area .writing-side {
  padding: 0 !important;
}

#main .cards-area .for-margin .card-area .lab {
  font-size: 30px;
}

#main .cards-area .for-margin .card-area .for-border {
  border-bottom: 2px solid #FFFFFF;
}

#main .down-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#main .down-side h3 {
  font-size: 70px;
  font-weight: 700;
  color: #FFFFFF;
}

#main .main-down-side {
  color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#main .main-down-side p {
  font-size: 77.8px;
  font-weight: 700;
}

#caruselArea {
  background-color: #F9F9F9;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-color: #FFFFFF;
  color: #147D70;
  border: 2px solid #FFFFFF;
  border-radius: 12px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.swiper-slide:hover {
  color: #FFFFFF;
  background-color: #147D70;
  cursor: pointer;
}

.swiper-slide .carusel-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-slide .carusel-img img {
  width: 15%;
}

.swiper-slide .caruesel-writing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide .caruesel-writing p {
  width: 60%;
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#firstNews {
  background-color: #FFFFFF;
}

#firstNews .news-right .news-right-img {
  position: relative;
  background: #ffffff;
}

#firstNews .news-right .news-right-img::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #154D3080;
  position: absolute;
  top: 0%;
  left: 0%;
}

#firstNews .news-right .news-right-img img {
  width: 100%;
}

#firstNews .news-right .news-right-writing {
  color: #147D70;
}

#firstNews .news-left .news-img-side {
  position: relative;
  background: #ffffff;
}

#firstNews .news-left .news-img-side::after {
  content: "";
  width: 90%;
  height: 100%;
  background: #154D3080;
  position: absolute;
  top: 0%;
  left: 5%;
}

#firstNews .news-left .news-img-side img {
  width: 100%;
}

#firstNews .news-left h5 {
  padding: 0 !important;
  color: #147D70;
  line-height: 21.95px;
  font-weight: 600;
  font-size: 18px;
}

#firstNews .news-left .for-text {
  line-height: 16.94px;
  font-weight: 600;
  padding: 0 !important;
  color: #147D70;
  font-size: 14px;
}

#firstNews .news-left .for-text-down {
  line-height: 16.94px;
  font-weight: 500;
  padding: 0 !important;
  color: #147D70;
  font-size: 14px;
}

#footer {
  background-color: #147D70;
  color: #F5F5F5;
}

#footer .footer-area-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 640px) {
  #footer .footer-area-left {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  #footer .footer-area-left {
    width: 100%;
    text-align: center;
  }
}

#footer .footer-area-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

#footer .footer-area-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

@media only screen and (max-width: 640px) {
  #footer .footer-area-right ul {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #footer .footer-area-right ul {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  #footer .footer-area-right ul {
    width: 100%;
  }
}

#footer .footer-area-right ul li {
  list-style: none;
  color: #F5F5F5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 15px;
  font-weight: 600;
  margin: 2px;
}

#footer .footer-area-right ul li:hover {
  cursor: pointer;
  opacity: 0.7;
}
/*# sourceMappingURL=index.css.map */